<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to location when open to show your position on the map and provide navigation.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app needs access to location when in the background for navigation updates.</string>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
</dict>
</plist>